@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500&display=swap');
@import 'tailwindcss';
@import 'fumadocs-ui/style.css';

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
:root {
  --font-sans: "Manrope", sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

.logo-dark {
  display: none;
}

.dark .logo-light {
  display: none;
}

.dark .logo-dark {
  display: block;
}